# Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto
#### By Daniel Simpson

## Part 1

First we will import the necessary libraries to read and download the table

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

Now we will use beautiful soup to identify the table, and use pandas to convert it into a data frame

In [2]:
# pull the table from the url provided in the assignment
canada_url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
canada_wiki = pd.read_html(canada_url)

# by inspecting the webpage html source we can see the table ID is 'wikitable sortable'
table_id = "wikitable sortable"

# use beautiful soup to pull the html
response = requests.get(canada_url)
soup = BeautifulSoup(response.text, 'html.parser')

# pull the table specifically from the html source and use pandas to convert it into a DataFrame
canada_soup = soup.findAll('table',{ "class" : table_id})
df = pd.read_html(str(canada_soup))

The variable df is a list and we want only the first table within the list

In [3]:
type(df)

list

In [4]:
df = df[0]

In [5]:
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Now that we have the dataframe we want, we need to drop the values where the Borough is unassigned

In [6]:
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)

In [7]:
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Now we can see the 'Not assigned' values have been removed. We can use the .shape method to print the shape of the data

In [8]:
df.shape

(103, 3)

## Part 2

geospatial was not working properly so the csv file was downloaded and used

In [11]:
import os
latlong_df = pd.read_csv(os.getcwd() + '/' + 'Geospatial_Coordinates.csv')

Columns longitude and latitude are created initialized with values of 0

In [20]:
df['Latitude'] = 0
df['Longitude'] = 0

Now the Postal Code from the DataFrame we created earlier is matched with the Postal Code of the CSV file to extract the longitude and latitude, which then assigned to the values in the DataFrame.

In [41]:
for i in list(df.index):
    df.loc[i, 'Latitude'] = latlong_df[latlong_df['Postal Code'] == df['Postal Code'][i]]['Latitude'].values
    df.loc[i, 'Longitude'] = latlong_df[latlong_df['Postal Code'] == df['Postal Code'][i]]['Longitude'].values

Now we can look at the first 20 rows and see the latitude and longitude of the Neighbourhoods in each Borough

In [46]:
df.head(20)

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
2,M3A,North York,Parkwoods,43.753259,-79.329656
3,M4A,North York,Victoria Village,43.725882,-79.315572
4,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
5,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
8,M9A,Etobicoke,"Islington Avenue, Humber Valley Village",43.667856,-79.532242
9,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
11,M3B,North York,Don Mills,43.745906,-79.352188
12,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
13,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
14,M6B,North York,Glencairn,43.709577,-79.445073
17,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov...",43.650943,-79.554724
18,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
20,M3C,North York,Don Mills,43.725900,-79.340923
21,M4C,East York,Woodbine Heights,43.695344,-79.318389
22,M5C,Downtown Toronto,St. James Town,43.651494,-79.375418
23,M6C,York,Humewood-Cedarvale,43.693781,-79.428191
26,M9C,Etobicoke,"Eringate, Bloordale Gardens, Old Burnhamthorpe...",43.643515,-79.577201
27,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
30,M4E,East Toronto,The Beaches,43.676357,-79.293031